<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Informações sobre o frete</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="../../assets/img/empresa-icon.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Empresa transporte</ion-card-subtitle>
      <ion-card-title>Frete</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel tempus augue, sit amet gravida orci. 
      Curabitur semper velit magna, ut dictum nisl tempus id. Nam feugiat ornare massa at venenatis. 
      Aliquam non accumsan nulla. Duis luctus eros nec nisl scelerisque, sed maximus risus condimentum. 
      Quisque volutpat orci sed ipsum mollis, viverra gravida tortor consequat.
    </ion-card-content>
    <ion-grid>
      <ion-row justify-content-around>
        <ion-col>
          <ion-button expand="block" fill="clear">
            <ion-icon color="warning" slot="icon-only" name="map-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" fill="clear">
            <ion-icon color="danger" slot="icon-only" name="close-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" fill="clear">
            <ion-icon color="success" slot="icon-only" name="checkbox-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
