<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Fretes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card *ngFor="let frete of fretes; let i = index">
    <ion-card-header>
      <ion-card-subtitle>
        de {{frete.from}} para
      </ion-card-subtitle>
      <ion-card-title color="warning">{{frete.to}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Tempo de viagem: {{frete.time}}
    </ion-card-content>
    <ion-grid>
      <ion-row justify-content-around>
        <ion-col>
          <ion-button expand="block" fill="clear">
            <ion-icon color="warning" slot="icon-only" name="map-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" fill="clear" (click)="aceitarFrete(i)">
            <ion-icon color="success" slot="icon-only" name="checkbox-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" fill="clear" (click)="openDadosFrete(i)">
            <ion-icon color="primary" slot="icon-only" name="information-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
